<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertisseur de chiffres</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <nav>
        <a href="/">Convertir en chiffres romains</a>
        <a href="/reverse">Convertir en chiffres arabes</a>
    </nav>
    
   
    <form class="form-container" method="post" action="/invert-convert">
        <h3>Convertisseur chiffres romains en chiffres arabes</h3>
        <br>
        <label for="romanNumber">Entrez un chiffre romain:</label>
        <input type="text" name="romanNumber" id="romanNumber" required>
        <button type="submit">Convertir</button>
    </form>
</body>

</html>
